/* Layout Utilities */

[class^=container], [class^=col] {
    border: 1px dashed white;
}

header [class^=col] {
    height: 100px;
}

#jumbotron {
    height: 500px;
}

.img {
    height: 250px;
}

div .bg-info {
    height: 300px;
    width: 300px;
}



/* Header */

header {
    background-color: #2C3F4F;
}

