/* Layout Utilities */

[class^=container], [class^=col] {
    border: 1px dashed white;
}

header [class^=col] {
    height: 100px;
}

#jumbotron {
    height: 500px;
}

.img {
    height: 250px;
}

.bg-info {
    height: 300px;
}


header, .footer-bottom {
    background-color: #2C3F4F;
}

footer {
    background-color: #3B546D;
}

.footer-bottom {
    margin: 0 -1.5rem;
}




